.wrapper{
    width: 70%;
    justify-content: space-around;
}

.card{
    width: 28rem;
    height: 24rem;
    padding: 2rem 1rem;
    background: #134c8f;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out ;
    overflow: hidden;
    z-index: 1;
}

.card:hover{
    transform: translateY(20px);
    z-index: 2;
  
}

.card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(14,77,144,0.5), rgb(13, 36, 77));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before{
    opacity: 1;
    z-index: 1;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card  .Text{
    position: relative;
    z-index: 3;
    color: #ffff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.card:hover .Text{
    opacity: 1;
    transform: translateY(0px);
}



.card .Text{
    letter-spacing: 0.1rem;
    font-size: 15px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}



.botonc{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
   

}

.footerC{
    border-top: 1px solid white;
    margin-top: 4rem;
}

.footer-price{
    text-align: right;
}

.card .Text .botonc:hover{
    box-shadow: 0px 7px 10px rgba(182, 225, 249, 0.5);

}