/*boton like*/
.btnheart {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
  }
  
  .btnheart:hover > .iconn {
    transform: scale(1.3);
    cursor: pointer;
    transition: .2s linear;
  }

  /*boton compra*/
  .btncompra {
    width: 11rem;
    height: 3rem;
    border-radius: 12px;
    border: none;
    background-color: #45B8AC;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
  }
  
  .IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .add {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
  }
  
  .btncompra:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: .5s;
    background-color: #45B8AC;
    color: black;
  }
  
  .btncompra:hover .add {
    transform: translate(19px,0px);
    transition-duration: .5s;
  }

  .btncompra:hover{
    background-color: #45B8AC;
}
  
  .btncompra:active {
    transform: scale(0.95);
    transition-duration: .5s;
    background-color: #45B8AC !important;
  }
  


/*tarjeta*/
   .card:hover{
    box-shadow: 0px 0px 17px 2px #45B8AC;
    border-color:#45B8AC;
}

/*Boton eliminar*/
.btndelete {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:#45B8AC;
  border: none;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  gap: 1px;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: #0A2648;
}

.btndelete:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s ease;
  background-color: rgb(255, 69, 69);
  align-items: center;
  gap: 0;
}

.btndelete:hover .svgIcon path {
  fill: white
}

.btndelete:hover .bin-bottom {
  width: 50px;
  transition-duration: 0.3s ease;
  transform: translateY(60%);
}
.bin-top {
  transform-origin: bottom right;
}
.btndelete:hover .bin-top {
  width: 50px;
  transition-duration: 0.3s ease;
  transform: translateY(60%) rotate(160deg);
}
.btndelete::before {
  position: absolute;
  top: -25px;
  content: "Eliminar";
  color: white;
  transition-duration: 0.3s ease;
  font-size: 2px;
}

.btndelete:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(35px);
  transition-duration: 0.3s ease;
}

.btndelete:active {
  background-color: rgb(77, 5, 5) !important;
}

/*Boton Editar*/
.btnedit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: #45B8AC;
  color:  #0A2648;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #3A968D;
  transition-duration: .3s;
}

.edit {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  transition-duration: .3s;
}

.btnedit:hover {
  color: transparent;
 }
 

.btnedit:hover .edit {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
  color: black;
}

.btnedit:active {
  transform: translate(3px , 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px #45B8AC;
}