/* @media (max-width: 991px) {
    .icon__shop {
        display: none;
    }
} */



.dropdown-toggle:after {
  display: none;
}

.dropdown-menu {
  width: 25rem;
}

/*BOTON BUSCAR*/
.btnbuscar {
  border-radius: 50px;
  border: 1px solid #45B8AC;
  padding: 0.7rem 1.4rem;
  font-size: 1.1rem;
  color: #ede5ff;
  transition: 0.2s;
  background-color: #0A2648;
}

.btnbuscar:hover {
  box-shadow: 0px 0px 17px 2px #45B8AC;
  border-color: #45B8AC;
  color: #f7f5ff;
  background-color: #0A2648;
}

.btnbuscar:active {
  box-shadow: 0px 0px 17px -7px #45B8AC;
  border-color: #45B8AC;
  transform: scale(0.95);
  background-color: #45B8AC !important;
  color: #0A2648 !important
}

/*BOTON CARRITO*/
.btncarrito {
  border-radius: 100px;
  border: 1px solid #45B8AC;
  padding: 0.7rem 1.4rem;
  font-size: 1.1rem;
  color: #ede5ff;
  transition: 0.2s;
  background-color: #0A2648;
}

.btncarrito:hover {
  box-shadow: 0px 0px 17px 2px #45B8AC;
  border-color: #45B8AC;
  color: #f7f5ff;
  background-color: #0A2648;
}

/*USER*/
.user {
  border-radius: 5px;
  border: 1px solid #45B8AC;
  padding: 0.45rem 1rem;
  font-size: 1rem;
}

/*BOTON ENTRAR Y REGISTRATE*/
.btnsesion {
  border-radius: 5px;
  border: 1px solid #45B8AC;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  color: #ede5ff;
  transition: 0.2s;
  background-color: #0A2648;
}

.btnsesion:hover {
  color: #0A2648;
  background-color: #45B8AC;
}

.btnsesion:active {
  box-shadow: 0px 0px 17px -7px #45B8AC;
  border-color: #45B8AC;
  transform: scale(0.95);
  background-color: #45B8AC !important;
  color: #0A2648 !important
}

/* .dropdown-menu[data-bs-popper]{
  right: 25px;
} */