@media (max-width: 991px) {
    .icon__shop {
        display: none;
    }
}


  
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    display: none;
 
  }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
  

  
  .dropdown-menu .dropdown-submenu .dropdown-item:hover {
    color: #134c8f; 
  }
  
  .dropdown-toggle:after {
    display: none;
}

